<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, required: true%>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, required: true %>
  </div>
  <div class="field">
    <%= f.label :relation %><br />
    <%= f.text_field :relation, required: true %>
  </div>
    <div class="field">
    <%= f.label :relation %><br />
    <%= f.file_field :relation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
