<!DOCTYPE html>
<html lang="en" data-savefrom-tab-data="{&quot;module&quot;:&quot;lm&quot;,&quot;tooltip&quot;:&quot;Links found: 0&quot;}"><head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Gallery</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>


  </head>

  <body data-savefrom-link-count="4">

    <div class="container">


        <hr>
      <div class="jumbotron">
        <h1> <%= link_to "Gallery is Awesome", root_path %></h1>
  
      </div>

      <div class="row marketing">

        <%= yield %>
        <hr>
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

</body></html>